@font-face {
    font-family: "Chicken";
    src: url(../fonts/Chicken-Hut.ttf);
}
@font-face {
    font-family: "fila";
    src: url(../fonts/font-fil-a.ttf);
}

.Title{
    font-size:50px;
    padding-top: 10px;
    font-family: "Chicken",sans-serif;
}

p{
    font-family: "fila",sans-serif;
}

.sales_report_name_count{
    padding-left: 30px;
}
.sales_report_name_count table{
    width: 600px;
    margin: 2rem auto;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 4px;
    border-collapse: collapse;
    background-color: #D31A38;
    border: 1px solid black;

}
.sales_report_name_count th{
  border-right: 1px solid black;
}

.manger_sales_table table{
    width: 600px;
    margin: auto;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 4px;
    border-collapse: collapse;
    align-items: center;

}

.manager_sales_table td{
    width: 5px;
    align-items: center;
    border: 1px solid black;
    /* padding: 8px 16px; */
    text-align: center;
    padding: 4px 32px;
}

.manager_sales_table table tr td{
  text-align: center;
  align-items: center;
}


.sales_report_name_count tr{
  padding: 8px 32px;
  font-family: "fila";
  font-size: 20px;
  text-align: center;
}




.menu .Title{
    color: red;
    font-size: 70px;
}

.inventory_menu .Title{
  color: red;
  font-size: 70px;
}

.inventory_menu{
    width: 100%;
  /* height: 100vh; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.inventory_menu table {
    width: 600px;
    margin: 2rem auto;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 4px;
    border-collapse: collapse;
  }
    
  .inventory_menu th {
    border-bottom: 1px solid black;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    font-weight: bolder;
    background-color: #D31A38;
    font-family: "fila";
    padding: 8px 32px;

  }
  
  .inventory_menu tr{
    padding: 8px 32px;
  }
    
  .inventory_menu td {
    background-color: var(--gray);
    width: 5px;
    /* padding: 8px 16px; */
    text-align: center;
  }
  .map_inventory{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    
    /* justify-content: center; */
    /* align-items: center; */
  }

  .map_inventory table{
    width: 600px;
    margin: auto;
    /* box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); */
    border-radius: 4px;
    border-collapse: collapse;
    align-items: center;
  }

  .map_inventory th{
    border-bottom: 1px solid black;
    /* align-items: center; */
    /* text-align: center; */
    border: 1px solid black;
    font-weight: bolder;
    background-color: #D31A38;
    font-family: "fila";
    padding: 8px 32px;
  }
  .map_inventory td{
    /* background-color: var(--gray); */
    width: 5px;
    align-items: center;
    /* border: 1px solid black; */
    /* padding: 8px 16px; */
    text-align: center;
    padding: 4px 32px;
  }

  .map_inventory .name td{
    /* background-color: var(--gray); */
    width: 5px;
    align-items: center;
    /* border: 1px solid black; */
    /* padding: 8px 16px; */
    text-align: center;
    padding: 4px 32px;
  }

  /* .report_form{
    padding-left: 30%;
  } */

  .reportqueryform{
    border: 10px dotted red;
    padding-top: 20px;
    margin: 0%;
    
  }
 .reportquery{
  text-align: center;
  align-items: center;
  
  
 }

 .start{
    border-radius: 10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  
 }

 .end{
  border-radius: 10px;
    border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  
 }

 .submit_bttn_1{
  color: red;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    background-color: rgb(211, 100, 100);
    height: 30px;
    width: 100px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    
 }

 .end_date_word{
  padding-top: 40px;
 }

 .Inv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
 }

 .updateInv{
  border: 10px dotted red;
  text-align: center;
  align-items: center;
  margin-right: 200px;
  
 }

 .AddInv{
  border: 10px dotted red;
  text-align: center;
  align-items: center;
  margin-left: 200px;
 }

 .submit_bttn_inv{
  color: red;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    background-color: rgb(211, 100, 100);
    height: 30px;
    width: 100px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    
 }

 .inventory_id_text{
  border-radius: 10px;
    border:1px solid ;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
 }

 .quantity_text{
  border-radius: 10px;
    border:1px solid ;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
 }

 .item_name{
  border-radius: 10px;
    border:1px solid ;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
 }

 .quan_name{
  border-radius: 10px;
    border:1px solid ;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
 }

