@font-face {
    font-family: "Chicken";
    src: url(../fonts/Chicken-Hut.ttf);
}
@font-face {
    font-family: "fila";
    src: url(../fonts/font-fil-a.ttf);
}

.menu .menuTitle{
    font-family: "Chicken";
    font-size: 80px;
    color: red;

}
.tableTitle{
    font-family: "fila";
    font-style: italic;
    width: 100%;
    text-align:center;
    text-decoration: underline;
}

.box{
    border: 2px solid black;
    border-radius: 10px;

}

.box .tableTitle{
    font-size: 25px;
    color: red;
}

.lineChart{
    background-color: rgba(226, 199, 199, 0.808);
    width: 100%;
    height: 550px;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;

}